#mainDiv {
   width: 100px; 
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100px;
   border: 10px;
   border-style: dashed;
   color: white;
   border-color: rgb(214, 114, 114);
   background-color: rgb(47, 47, 113);
   animation-name: yasin1;
   animation-duration: .4s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   
}
@keyframes yasin1 {
    from {
        
    }
    to {
       transform: rotate(360deg);
    }
}